extends ../layout

block content
  -function format_date(date){
  - var newDate = new Date(date);
  - var y = newDate.getFullYear();
  - var m = newDate.getMonth();
  - if (m < 10) m = '0'+m;
  - var d = newDate.getDate();
  - if (d <10) d= '0'+d;
  - return d+'/'+m+'/'+y;
  -}
  -function bar_size(size){
  -var barSize = Math.round(size/2);
  -if(barSize >= 200) barSize = 100;
  -return barSize + '%'
  -}
  -function color_opacity(size){
  -var opacity = size/100;
  -if(opacity >= 1) opacity = 1;
  -if(opacity <= 0.1) opacity = 0.1;
  -return opacity
  -}
  -function plurialize_reco(number){
  -if (number == 1) return number + ' recommendation'
  -else return number + ' recommendations'
  -}
  -function lowerToCapitalize(str){
  -return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  -}
  

  if (volunteer == null)
    .container-fluid.profile_container
      .row.row-centered
        .col-md-10.col-md-push-1.col-xs-12.col-sm-12
          h3.text-center Sorry, no volunteer found

          .col-md-12.col-xs-12.col-sm-12.not_colored  
            h3.text-center.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-12 Find a volunteer:
            .col-md-6.col-md-offset-3.col-xs-12.col-sm-12
              form(action="/volunteer/search")
                .input-group.col-md-12.col-xs-12.col-sm-12
                  input(type="text", name="search", class="form-control", placeholder="Type a volunteer name" )
                  span.input-group-btn
                    button(class="btn btn-primary btn-search", type="button")
                      i.glyphicon.glyphicon-search
          
          .col-md-12.col-sm-12.col-xs-12.break
  else
    .container-fluid.profile_container
      .row.row-centered
        .col-md-10.col-md-push-1.col-xs-12.col-sm-12.no-gutter_l.content
          .col-md-12.col-sm-12.col-xs-12
            .col-md-2.col-xs-12.user-bg.text-center
              -if (volunteer.photo.cropedPath)
                img(src="#{volunteer.photo.cropedPath}")
              -else
                img(src="#{volunteer.photo.originalPath}")
            .col-md-5.col-sm-6.col-xs-12
                h3 #{volunteer.first_name} #{volunteer.last_name}
                  - if (volunteer.gender == 'male')
                    img(src="/images/male.svg", class="sex")
                  - else if (volunteer.gender == 'female')
                    img(src="/images/female.svg", class="sex")
                -if (volunteer.country)
                  p Country: <em> #{volunteer.country}</em>
                p
                  -var hours = 0;
                  each experience in experiences
                    - hours += experience.totalHours
                  p Accumulated hours: <em>#{hours}</em>

            .col-md-5.col-sm-6.col-xs-12.info
              - if (volunteer.position == 'student' && volunteer.university)
                p Current position: <em>#{capitalize(volunteer.position)} at #{volunteer.university.name}</em>
              - else if (volunteer.position == 'student' && !volunteer.university)
                p Current position: <em>#{capitalize(volunteer.position)}</em>
              - else if (volunteer.position == 'employed' && volunteer.company)
                p Current position: <em>#{capitalize(volunteer.position)} at #{volunteer.company}</em>
              - else if (volunteer.position == 'employed' && !volunteer.company)
                p Current position: <em>#{capitalize(volunteer.position)}</em>
              - else if (volunteer.position == 'unemployed')
                p Current position: <em>Volunteer</em>

              - if (volunteer.position == 'student' && volunteer.graduate && volunteer.area_of_study && volunteer.graduation_year)
                -if (volunteer.degree)
                  p <em>#{capitalize(volunteer.graduate)}</em> in <em>#{volunteer.degree}</em>, graduating in <em>#{volunteer.graduation_year}</em>
                -else
                  p <em>#{capitalize(volunteer.graduate)}</em> in <em>#{volunteer.area_of_study}</em>, graduating in <em>#{volunteer.graduation_year}</em>

              - else if (volunteer.position == 'student' && volunteer.graduate && volunteer.area_of_study && !volunteer.graduation_year)
                -if (volunteer.degree)
                  p <em>#{capitalize(volunteer.graduate)}</em> in <em>#{volunteer.degree}</em>
                -else
                  p <em>#{capitalize(volunteer.graduate)}</em> in <em>#{volunteer.area_of_study}</em>

              - else if (volunteer.position == 'student' && volunteer.graduate && !volunteer.area_of_study && !volunteer.graduation_year)
                p <em>#{capitalize(volunteer.graduate)}</em>
              - else if (volunteer.position == 'student' && volunteer.graduate && !volunteer.area_of_study && volunteer.graduation_year)
                p <em>#{capitalize(volunteer.graduate)}</em>, graduating in <em>#{volunteer.graduation_year}</em>
              - else if (volunteer.position == 'student' && !volunteer.graduate && volunteer.area_of_study && !volunteer.graduation_year)
                -if (volunteer.degree)
                  p Studying in <em>#{volunteer.degree}</em>
                -else
                  p Studying in <em>#{volunteer.area_of_study}</em>
                  
              - else if (volunteer.position == 'student' && !volunteer.graduate && !volunteer.area_of_study && volunteer.graduation_year)
                p Graduating in <em>#{volunteer.graduation_year}</em>
              - else if (volunteer.position == 'student' && !volunteer.graduate && volunteer.area_of_study && volunteer.graduation_year)
                -if (volunteer.degree)
                  p Studying in <em>#{volunteer.degree}</em>, graduating in <em>#{volunteer.graduation_year}</em>
                -else
                  p Studying in <em>#{volunteer.area_of_study}</em>, graduating in <em>#{volunteer.graduation_year}</em>
      

      -if (volunteer_skills.skills.length > 0)
        div.row.row-centered
          div.col-md-10.col-md-offset-1.content.skills
            .col-md-12
              .col-md-12
                h2 Skills
                each skills in volunteer_skills
                  each skill in skills
                    .col-md-12.no-gutter_l.barContainer
                      .bar(style="width:#{bar_size(skill.sum_hours)};background-color:rgba(162, 255, 0, #{color_opacity(skill.sum_hours)})")
                        span #{lowerToCapitalize(skill._id.name)}
      
      if (experiences.length > 0)       
        .row.row-centered
          .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content.XP
            .col-md-12.col-xs-12.col-sm-12
              .col-md-12.col-xs-12.col-sm-12
                h2 Experiences

                each experience, i in experiences
                  -if (experience.totalHours > 0)
                    .col-md-9.col-xs-12.col-sm-12.no-gutter_l
                      - if (experience.nonprofit.url)
                        a(href="#{experience.nonprofit.url}")
                          p.charity_name #{experience.nonprofit.name}
                      -else
                        p.charity_name #{experience.nonprofit.name}
                      p #{experience.start_date}
                      p #{experience.description}
                      p <em>#{experience.totalHours}</em> accumulated hours
                      - if (experience.skills_list.length > 0)
                        p Skills acquired: 
                          each skill, i in experience.skills_list
                            em
                              if (i == 0)
                                span #{lowerToCapitalize(skill.name)}
                              else
                                span , #{lowerToCapitalize(skill.name)}
                      - if (experience.recommendation_number > 0)
                          p <u><a href="#" class="reco">#{plurialize_reco(experience.recommendation_number)}</a></u>
                    .col-md-2.col-md-offset-1
                      - if (experience.nonprofit.url)
                        a(href="#{experience.nonprofit.url}")
                          img(src="#{experience.nonprofit.logo.path}")
                      -else
                        img(src="#{experience.nonprofit.logo.path}")
      
                    - if (!(i == experience.length-1))
                      .separator.col-md-2.col-md-offset-5
            
      -if (recommendations.recommendations.length > 0)
        div.row.row-centered
          div.col-md-10.col-md-offset-1.content.recommendation
            .col-md-12
              .col-md-12
                h2 Recommendations

                each recommendation in recommendations.recommendations
                  .col-md-12.col-sm-12.col-xs-12.no-gutter
                    p.manager_name #{recommendation.recommendation.referee_name} from #{recommendation.nonprofit} 
                    p 
                      img(src="/images/quote.svg")
                      i #{recommendation.recommendation.recommendation}
                  .col-md-2.break


    script(src="/javascripts/volunteerProfilePage.min.js")


