extends ../layout

block content
  -function format_date(date){
  - var newDate = new Date(date);
  - var y = newDate.getFullYear();
  - var m = newDate.getMonth();
  - if (m <10) m = '0'+m;
  - var d = newDate.getDate();
  - if (d <10) d= '0'+d;
  - return d+'/'+m+'/'+y;
  -}
  -function plurialize(number){
  -if (number == 1) return number + ' hour'
  -else return number + ' hours'
  -}
  -function lowerToCapitalize(str){
  -return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  -}

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.col-xs-12.content
        .col-md-12.col-sm-12.col-xs-12
          if (activities.length == 0)
            h4.col-md-12.text-center 
              |No validation pending
              br
              |Thanks for your help in making VOLO a success
          else
            h3 Volunteering experience validation
            p
              |Hi Admin,
              br
              |Here is the list of experiences that volunteers have declared they had a signed document to attests their experience.
            .col-md-12.break
            each activity in activities
              .col-md-12.col-sm-12.col-xs-12.validation_pending
                .col-md-1.col-sm-1.col-xs-12.user-md.text-center
                  -if (activity.volunteer.photo.cropedPath)
                    img(src="#{activity.volunteer.photo.cropedPath}")
                  -else
                    img(src="#{activity.volunteer.photo.originalPath}")
                .col-md-8.col-sm-8.col-xs-12
                  a(href="/volunteer/#{activity.volunteer._id}", target="_blank")
                    p.volunteer_name #{activity.volunteer.first_name} #{activity.volunteer.last_name} 
                  - if (activity.volunteer.position)
                    - if (activity.volunteer.position == 'student' && activity.volunteer.university)
                      p <em>#{capitalize(activity.volunteer.position)} at #{activity.volunteer.university.name}</em>
                    - else if (activity.volunteer.position == 'student' && !activity.volunteer.university)
                      p <em>#{capitalize(activity.volunteer.position)}</em>
                    - else if (activity.volunteer.position == 'employed' && activity.volunteer.company)
                      p <em>#{capitalize(activity.volunteer.position)} at #{activity.volunteer.company}</em>
                    - else if (activity.volunteer.position == 'employed' && !activity.volunteer.company)
                      p <em>#{capitalize(activity.volunteer.position)}</em>
                    - else if (activity.volunteer.position == 'unemployed')
                      p <em>Volunteer</em>
                  p 
                    |Volunteered on the <em>#{format_date(activity.start_date)}</em> during <em>#{plurialize(activity.hours)}</em> as 
                    em #{lowerToCapitalize(activity.role.name)} 
                    | with 
                    em #{activity.experience.nonprofit.name} 
                  - if (activity.skills.length > 0)
                    p Skills acquired: 
                      each skill, i in activity.skills
                        em
                          if (i == 0)
                            span #{lowerToCapitalize(skill.name)}
                          else
                            span , #{lowerToCapitalize(skill.name)}
                .col-md-3.col-sm-3.col-xs-12.text-center
                  a(href="#", class="btn sharp btn-lg btn-primary first-btn btn-validate", data-toggle="modal", data-target="#acceptModal", data-response="accept", data-activity="#{activity._id}") Accept
                  a(href="#", class="btn sharp btn-lg btn-default btn-validate btn-decline", data-toggle="modal", data-target="#declineModal", data-response="decline", data-activity="#{activity._id}",) Decline
            

            .modal.fade#declineModal(tabindex='-1')
              .modal-dialog
                .modal-content
                  .modal-header
                    button(type="button" class="close" data-dismiss="modal") &times;
                    p Decline volunteer experience
                  .modal-body
                    p Please, explain us why you decline this experience. This won't be public.
                    form(id="declineForm", action="/activity/decline", method="post", class="text-center")
                      input(type="hidden", name="activityId", class="activityId")
                      textarea.col-md-12(name="declineReason", rows="2", required)
                      input(type="submit", value="Decline experience", name="submit", class="btn btn-primary modal-submit")

            .modal.fade#acceptModal(tabindex='-1')
              .modal-dialog
                .modal-content
                  .modal-header
                    button(type="button" class="close" data-dismiss="modal") &times;
                    p Accept volunteer experience
                  .modal-body
                    form(id="acceptForm", action="/activity/accept", method="post", class="text-center")
                      input(type="hidden", name="activityId", class="activityId")
                      input(type="submit", value="Accept experience", class="btn btn-primary modal-submit")

      script(src="/javascripts/adminValidationPage.min.js")

        