<% if @user.errors.any? %>
<h2>The following errors prevented the article from being created</h2>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
<% end %>


<div class="wrapper" style="margin-top: 80px; margin-bottom: 80px;">

  <%= form_for(@user,:html => {role: "form",class:"form-signin"}) do |f| %>
  <h2 class="form-signin-heading">
    <% if @user.new_record?  %>
      Sign up
    <% else %>
     Edit Profile
    <%end%>
  </h2>

  <%= f.text_field :username ,:class => "form-control" ,:placeholder => "User Name"%>

  <%= f.email_field :email ,:class => "form-control" ,:placeholder => "Email Address" %>

  <%= f.password_field :password ,:class => "form-control" , :placeholder => "Password"%>

  <%= f.submit @user.new_record? ? "Sign up" : "Update Account" , :class => "btn btn-lg btn-primary btn-block" %>
   <% if @user.new_record?  %>
      <%= link_to 'Login', root_path %>

    <%end%>

<% end %>
  </div>